.winner-title {
    text-transform:uppercase;
    width: 300px;
    position: absolute;
    left: 176px;
    top: 730px;
    text-align: center;
    color: #271b16;
    line-height: 1;
    font-size: 45px;
    font-family: "calibri", sans-serif;
}


.order-title{
    font-family: "calibri", sans-serif;
    width: 90px;
    position: absolute;
    left: 684px;
    top: 31px;
    color: #271b16;
    line-height: 1;
    font-size: 30px;
    text-align:right;
}


.count-title {
    width: 167px;
    position: absolute;
    left: 986px;
    top: 31px;
    text-align: right;
    color: #271b16;
    line-height: 1;
    font-size: 30px;
    font-family: "calibri", sans-serif;
}


.summ-title {
    width: 140px;
    position: absolute;
    left: 1249px;
    top: 21px;
    color: #271b16;
    line-height: .8;
    font-size: 30px;
    font-family: "calibri", sans-serif;
    text-align: right;
}
